/* header styles */

.header {
  display: block;
  text-align: center;
  font-size: 30px;
  margin: 10px 0;
}

.cartitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  margin-bottom: 20px;
}

.cartItemImg {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.cartItemDetail {
  display: flex;
  flex: 1;
  padding: 0 20px;
  flex-direction: column;
}

/* Home Page */

.home {
  display: flex;
}

.filters {
  background-color: #dd7c0c;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 10px;
  margin-top: 20px;
  height: 100vh;
}

.filters > span {
  padding-bottom: 20px;
}

.title {
  font-size: 30px;
}

.productContainer {
  display: flex;
  width: 78%;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand a {
  margin-right: 10px; /* Adjust as needed */
}

.products {
  width: 30%;
  margin: 10px;
}
.product-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.card-img-top{
  width: 100px;
  height: 200px;
  object-fit: cover;
}

.summary {
  width: 30%;
}

/* Media Queries */
@media (max-width: 1200px) {
  .product-image {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 771px) {
  .filters {
    width: 40%;
    height: 100%;
    padding: 10px;
    margin: 5px;
  }

  .filters > span {
    font-size: 10px;
  }

  .title {
    font-size: 18px !important;
  }

  .productContainer {
    width: 58%;
    padding: 0;
  }

  .search {
    display: none !important;
  }

  .products {
    width: 100%;
  }
}

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container form div {
  margin-bottom: 15px;
}

.login-container form div label {
  font-weight: bold;
}

.login-container form div input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container form button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}
